digit-tsl-business/src/test/resources/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContactList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TLSOContact" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="PostalAddress"/>
              <xs:element type="xs:string" name="PhoneNumber"/>
              <xs:element type="xs:dateTime" name="SubmissionDate" minOccurs="0"/>
              <xs:element type="xs:string" name="Territory"/>
              <xs:element name="ElectronicAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="URI" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>